# Dependencies
node_modules/

# Transpiled files
lib/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm
yarn.lock
tsconfig.tsbuildinfo

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

yarn-debug.log*
yarn-error.log*

# Tsconfig cache
tsconfig.tsbuildinfo
tsconfig.release.tsbuildinfo
